@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Imgs/img_003.jpg);
    max-width: 800px;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    padding: 30px 0 15px 0;
    border-radius: 15px;
    background: #ffffff2a;
}

@media (max-width: 800px) {
    body {
        background-image: url(Imgs/img_003.jpg);
        max-width: 800px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .container {
        padding: 30px 0 15px 0;
        border-radius: 0;
        background: #ffffff2a;
    }
}

.header {
    display: flex;
}

.foto img {
    margin-left: 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.info {
    margin: 0 30px;
    color: #c9c9c9;
}

@media (max-width: 600px) {
    .header {
        display: block;
    }

    .foto img {
        display: block;
        margin: 10px auto 30px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .info {
        margin: 0 30px;
        text-align: center;
        color: #c9c9c9;
    }
}

.info p {
    font-style: italic;
}

.contacts,
.hobbi,
.work {
    margin: 0 30px 30px 30px;
    padding: 20px 30px;
    border-radius: 15px;
}

.hobbi {
    background: #ffdddd;
}

.work {
    background: #caffca;
}

.connection {
    background: #e9d6d6;
    margin: 0 30px 15px 30px;
    padding: 20px 30px;
    border-radius: 15px;
}

 .content h3, 
 .content hr {
     margin-bottom: 10px;
}

.contacts {
    display: table;
    margin: auto;
} 

.contacts img {
    width: 40px;
    border-radius: 12px;
}

.contacts a {
    display: table-cell;
    color: #000000;
    padding: 0 30px 0 5px;
    vertical-align: middle;
    text-decoration: none;
    transition: all .3s;
}

.contacts a:hover {
    color: #ff966fe5;
}

.hobbi ul {
    list-style: none;
    padding-bottom: 5px;
}

.hobbi li {
    padding-bottom: 5px;
}

.work table {
    margin: auto;
    width: 100%;
}

@media (max-width: 450px) {
    .work table {
        margin: auto;
        width: 100%;
        font-size: 12px;
    }
}

.work th {
    padding-bottom: 10px;
}

.work td {
    text-align: center;
    padding-bottom: 5px;
}

.work tbody tr:nth-child(odd) {
    background: #dadada;
}

.work tbody tr:nth-child(even) {
    background: #dcffdc;
}

.connection label,
.connection input,
.connection textarea {
    display: block;
    width: 50%;
    margin: auto;
}

@media (max-width: 600px) {
    .connection label,
.connection input,
.connection textarea {
    display: block;
    width: 80%;
    margin: auto;
}
}

.connection label {
    margin-bottom: 3px;
    text-align: center;
}

.connection input {
    margin-bottom: 15px;
    outline: transparent;
    box-shadow: 4px 4px 14px #00000040;
}

.connection textarea {
    margin-bottom: 20px;
    outline: transparent;
    box-shadow: 4px 4px 14px #00000040;
}

#name {
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
}

#email {
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
}

#messege {
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
}

.btn {
    display: block;
    background: black;
    padding: 5px 20px;
    border: none;
    border-radius: 15px;
    color: white;
    font-family: inherit;
    margin: auto;
    transition: all .3s;
    cursor: pointer;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.575);
}
